body {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-right: 200px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 100px;
}

.nav .item {
  margin-right: 72px;
}

.nav .item:last-child {
  margin-right: 0;
}

.nav .link {
  position: relative;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.18;
  color: #4f6674;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

.nav .link::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% - 10px);
  left: 0;
  height: 4px;
  width: 100%;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  background-color: #0078d2;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0;
}

.nav .link:hover, .nav .link:focus, .nav .link:hover::after, .nav .link:focus::after {
  color: #0078d2;
  opacity: 1;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.signup .item {
  margin-right: 24px;
}

.signup .item:last-child {
  margin-right: 0;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  line-height: 2.67;
  color: #305f7b;
  -webkit-transition: color 250ms, background 250ms cubic-bezier(0.53, 0.33, 0.71, 0.88);
  transition: color 250ms, background 250ms cubic-bezier(0.53, 0.33, 0.71, 0.88);
}

.button.login {
  background: #f2f6f7;
  border: none;
}

.button.register {
  color: #0078d2;
  background-color: #fff;
  border: 1px solid #0078d2;
}

.button:hover, .button:focus {
  background-color: #0078d2;
  color: white;
}

b {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 16px;
}

p {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.025em;
  color: #828282;
  margin-bottom: 56px;
  margin-top: 0;
}

.picture {
  display: block;
  width: 50%;
  height: 50vw;
  -webkit-box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.25);
}

.regform {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 185px;
  padding-bottom: 185px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.form .button {
  width: 372px;
  height: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px 0px 24px;
  color: #fff;
  background: #0078d2;
  border: none;
  border-radius: 4px;
}

label {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}

input {
  width: 372px;
  height: 48px;
  outline: none;
  margin-bottom: 32px;
  padding: 10px 13px;
  border-radius: 2px;
  border-radius: 4px;
  border: 1px solid #b8cad5;
}

input:focus {
  border-color: #0078d2;
  -webkit-transition: border-color 250ms;
  transition: border-color 250ms;
}

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.025em;
  color: #828282;
}

.switch span {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */